<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hyperxpress">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_hyper_xpress"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_hyper_xpress"
        android:supportsRtl="true"
        android:theme="@style/Theme.HyperXpress"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.activity.MessageActivity"
            android:exported="false"
            android:label="@string/chat"
            android:theme="@style/Theme.HyperXpressComToolbar"/>
        <activity
            android:name=".view.activity.ContactsActivity"
            android:exported="false"
            android:label="@string/contatos"
            android:theme="@style/Theme.HyperXpressComToolbar"/>
        <activity
            android:name=".view.activity.ChatActivity"
            android:exported="false"
            android:theme="@style/Theme.HyperXpressComToolbar"/>
        <activity
            android:name=".view.activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.CadastroFinalizadoActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.CadastroConfirmaEmailActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.CadastroEnderecoActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.AplicacaoAposLogar"
            android:exported="true"
            android:label="@string/title_activity_aplicacao_apos_logar"
            android:theme="@style/Theme.HyperXpress.NoActionBar" />
        <activity
            android:name=".view.activity.CadastroPessoalActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>